docker.enabled = false
conda.enabled = true

/*
* Process settings
*/
process {
    memory = 100.GB
    cpus = 36
    time: 16.h
}

/*
* Pipeline parameters
*/
params {
    input_reads  = "00_rawReads_bat869.fastq"
    refrence_genome = "MN125184.1_mito.fasta"
}

/*
* Profiles
*/
profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        clusterOptions = '--partition=Centaurus'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 16.h
        ]
    }
    test {
        params.input = 'data/greetings.csv'
        params.batch = 'test'
        params.character = 'dragonandcow'
    }
}

/*
* Output settings
*/
outputDir = "results/${params.input_reads}"
workflow.output.mode = 'copy'
